/* 
    Document   : test2
    Created on : Feb 1, 2012, 12:38:07 AM
    Author     : "Mark Eschbach" (meschbach@gmail.com)
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

